@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Bungee+Spice&family=Oswald&family=Outfit&family=Roboto:wght@500&family=Ubuntu&family=Vina+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit';
    color: white;
    font-size: 30px;
}

header {
    position: relative;
    background: url('./images/rick-and-morty-pic.png') center/cover no-repeat;
    min-height: 100vh;
    padding: 50px 0; 
    background-size: cover; 
}

nav {
    display: flex;
    justify-content: right;
}

nav a {
    font-size: 30px;
    padding: 20px 25px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: greenyellow;
    font-size: 35px;
    transition-duration: 0.5s;
}

div {
    /* background-color: #495057; */
    background-color: black;
}

form {
    padding-left: 25px;
    padding-bottom: 25px;
}

button {
    color: black;
    border: 4px solid black;
    padding: 5px;
}

fieldset {
    padding: 10px;
    
}

.intro-website {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 100px 100px;
}

.intro{
    grid-row: 1/2;
    grid-column: 3/4;
    font-size: 25px;
    color: white;
    padding-bottom: 120px;
}

.quote {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 20px;
    color: white;
    font-style: italic;
}

.view-characters-section {
    width: 100%;
    /* background-color: #495057; */
    background-color: black;
    display: grid;
    grid-template-rows: 2fr 3fr;
}

.view-characters-section h1{
    font-size: 60px;
    text-align: center;
    padding: 20px;
}

.character-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.created-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    /* border: 10px solid black; */
    border: 10px solid white;

}

.created-card p {
    padding: 10px 0;
    font-size: 20px;
}

.created-card img {
    /* border: 10px solid black; */
    border: 10px solid white;

}

.created-card h2 {
    padding-bottom: 25px;
    font-size: 30px;
}

@media (max-width: 1029px){
    .character-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .quote {
        display: none;
    }
}

@media (max-width: 768px) {
    .intro-website {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
    }
}


/* Mobile */
@media (max-width: 682px){
    .character-cards {
        display: grid;
        grid-template-columns: 1fr;
    }
    nav {
        text-align: center;
    }
    header {
    background: url(./images/rm-mobile.jpeg);
    background-size: cover; 
    background-position: center; 
    height: 200px;
    }
    .quote{
        display: none;
    }
    .intro-website {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding: 50px;
    }
    .intro{
        font-size: 18px;
        text-align: center;
    }
    .view-characters-section h1 {
        font-size: 50px;
    }
    form legend, label {
        font-size: 18px;
    }
    button {
        font-size: 18px;
        padding: 5px;
        border: 2px solid black;
    }
}